<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ejs fileee</h1>
    <h1><%=random_data%></h1>
     
   <% for(let i of arr){ %>
        <span><%=i%></span>
  <%  }  %>
</body>
</html>